@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    background-color: #e1e2ff;
    font-size: var(--text-size);
    font-family: "Roboto Condensed", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
}

.container {
    margin: 130px auto 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 600px;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

@media (width <= 630px) {
    .container {
        margin: 15px 10px;
    }
}