.tasks {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.completed {
    position: relative;

    &__tasks {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &__delete {
        z-index: 2;
        top: 0;
        right: 0;
    }
}