.tasks {
    display: flex;
    flex-direction: column;
}

.completed {
    position: relative;
    margin-top: -5px;

    &__tasks {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &__summary {
        display: flex;
        gap: 10px;
        justify-content: space-between;
    }
}