.header {
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
    padding: 0 15px 0 5px;
    background-color: var(--main-bg);
    border-radius: var(--main-radius);
    cursor: pointer;
    transition: transform .2s;

    &:active {
        transform: scale(0.9);
    }
}