.form {
  display: flex;
  flex-direction: column;
  gap: 15px;

  &__add-task {
    display: flex;
    gap: 10px;
  }

  &__input {
    background-color: var(--main-bg);
    border-radius: var(--main-radius);

    input {
      font-weight: 500;

      &:focus {
        outline: 2px var(--main-color) solid;
        border-radius: var(--main-radius);
      }
    }

    fieldset {
      border-color: var(--main-bg);
    }
  }

  &__button {
    transform-origin: right;

    &:hover {
      background-color: var(--main-color) !important;
      filter: brightness(90%);
    }
  }
}

@media (width <=630px) {
  .form {
    &__add-task {
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}