.form {
  display: flex;
  gap: 10px;

  &__input {
    background-color: var(--main-bg);
    border-radius: var(--main-radius);

    input {
      font-weight: 500;
    }

    fieldset {
      border-color: var(--main-bg);
    }
  }

  &__button {
    transform-origin: right;
    
    &:hover {
        background-color: var(--main-color) !important;
        filter: brightness(90%);
      }
  }
}